/*
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  font-family: "Montserrat";
  text-align: center;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: left;
}

.big-heading-two {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}

.section-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.col-lg-6 {
  text-align: left;
}

/* Navigation Bar */

.img-logo {
  width: 3rem;
  /* padding:0 10px; */
}

.navbar {
  padding-bottom: 4.5rem;
}
.dog_icon{
  font-size: 1.5em;
  padding-left: .5em;
}

.next__btn {
  display: flex;
  justify-content: center;
  padding: .8em;
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 0.25rem;
  background: #212529;
  font-weight: bold;
  width: 30%;
  margin: auto;
  color: #fff;
  align-items: center;
}

.next__btn:hover {
  background: rgba(255, 255, 255, 0.861);
  color: #212529;
  border: 1px solid #212529;
  /* border: none; */
  /* transform: scale(1.5); */
}

.next__btn:active {
  background: #ff4c68;
  color: #212529;
  transform: scale(1.5);
  border: none;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 0;
  margin-left: 16px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 300;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

.scrollToTopBtn a {
  text-decoration: none;
}

.scrollToTopBtn {
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 35px;
  width: 48px;
  margin: 3% auto;
  display: block;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Feature Section */

#features {
  position: relative;
}


.feature-box {
  padding: 4.5%;
}

.image {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/69/Funny_dog.jpg");
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50px;
  margin: auto;

}

.api_div {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(auto, 1fr));
}


.api-icon:hover {
  color: #fff;

}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section  */

#testimonials {
  background-color: #ef8172;
  color: #fff;

}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}


.price-text {
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer Section  */

.social-icon {
  margin: 20px 10px;
}

/* @media Breaks */

@media screen and (max-width:1267px) {
  .title-image {
    width: 18%;
    position: absolute;
    right: 22%;
  }

  .testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  body {
    font-size: 1rem;
  }

  .big-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
  }

  .big-heading-two {
    font-family: "Montserrat";
    font-size: 2.8rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
  }

  .section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
  }

}

@media screen and (max-width:1011px) {
  .title-image {
    width: 25%;
    position: absolute;
    right: 22%;
  }

  .big-heading {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
  }

  .col-lg-6 {
    text-align: center;
  }

}

@media screen and (max-width:991px) {
  .title-image {
    width: 40%;
    position: relative;
    right: 0%;
    transform: rotate(0);
  }
}


@media screen and (max-width:770px) {
  .title-image {
    text-align: center;
  }

  .col-lg-6 {
    text-align: center;
  }

  .big-heading {
    text-align: center;
  }

  .big-heading-two {
    font-size: 2rem;
  }

  .title-image {
    width: 70%;
    position: relative;
    right: -1%;
  }

}

@media screen and (max-width:500px) {
  .big-heading {
    font-size: 2rem;
  }

  .testimonial-text {
    font-size: 2rem;
    line-height: 1.5;
  }

  .section-heading {
    font-size: 2rem;
    line-height: 1.5;
  }

}

@media screen and (max-width:481px) {


  .testimonial-text {
    font-size: 1.7rem;
    line-height: 1.5;
  }

}

@media screen and (max-width:350px) {
  .navbar {
    flex-direction: column;
    padding-bottom: 2.8rem;
  }
}


@media screen and (max-width:320px) {
  .big-heading-two {
    font-size: 1.2rem;
  }

  .big-heading {
    font-size: 1.5rem;
  }

  .section-heading {
    font-size: 1.2rem;
  }

  .testimonial-text {
    font-size: 1rem;
    line-height: 1.5;
  }

  .button {
    font-size: 0;
  }

  .navbar {
    flex-direction: column;
    padding-bottom: 2.8rem;
  }



}